
@media (max-width: 1156px){
    .service__items{
        display: block;
    }
    .service__item{
        max-width: 80%;
        min-height: 330px;
        margin: 30px auto;
    }
    .form__inner{
        background-image: none;
    }
    .form__box__left{
        max-width: 100%;
    }
    .form__box__right{
        max-width: 100%;
    }
    .news__inner{
        display: block;
        text-align: center;
    }
    .news__slider{
        max-width: 100%;
        margin-bottom: 90px;

    }
    .news__blog{
        display: block;
        max-width: 100%;
        margin-bottom: 20px;

    }
    .news__blog:after{
        content: "";
        clear: both;
        display: block;
    }
    .news__images{
        float: left;
        margin-right: 50px;
    }

}
@media (max-width: 1050px) {
    .footer__inner{
        display: block;

    }
    .footer__map{
        width: 100%;
    }
    .footer__info{
        margin-bottom: 30px;
        max-width: 465px;
    }
}
@media (max-width: 900px) {
    .slider .slick-btn{
        display: none !important;
    }
    .form__box__inner{
        display: block;
    }

    .service__top,
    .news__top
    {
        display: block;
    }
    .service__title-box,
    .form__title-box,
    .news__title-box
    {
        padding-left: 0;
        text-align: center;
        margin: 0 auto 30px;

    }
    .service__title-box:before,
    .form__title-box:before,
    .news__title-box:before
    {
        display: none;
    }
    .service__btn,
    .news__btn

    {
        text-align: center;
    }
    .advantages{
        margin-top: 15px;
    }
    .advantages__item{
        max-width: 100%;
        margin-bottom: 30px ;

    }
    .advantages__inner{
        display: block;
    }

}

@media  (max-width: 700px ){
    .header__btn{
        float: none;
    }
    .header__contacts{
        text-align: center;
    }
    .burger{
        display: block;
    }
    .menu ul{
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 5;
        margin-top: 20px;
    }
    .menu li{
        display: block;
    }
    .menu a{
        display: block;
        background-color: var(--color_btn);
        text-align: center;
        border-top:1px solid #fff ;
        border-bottom:1px solid #fff;
    }
    .menu__item + .menu__item {
        padding-left: 0;
}
}
@media(max-width: 600px)  {
    .service__item{
        width: 100%;
        min-height: 375px;
    }
    .form__title-box:before{
        display: none;
    }
}
@media (max-width: 540px) {
    .news__slider{
        padding: 50px 15px 25px 25px;
    }
    .news__slider__inner .slick-next{
        right: -20px;
    }
    .news__slider__inner .slick-prev{
        right: 35px;
    }
    .news__images{
        float: none;
    }
    .news__slider__inner .slick-btn{
        bottom: -90px;
    }
}
@media (max-width: 414px) {
    .slider__title{
        font-size: 24px;

    }
    .slider__text{
        font-size: 14px;
    }

}
@media (min-width: 700px) {
    .menu ul{
        display: block !important;
    }
}

